<section class="<%= @destination.planet%>-hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
    <h1>Expand Your Space</h1>
  </div>
</section>
<hr>
<br>
<h3 class="text-center"> Our <%=@destination.planet%> Packages</h3>
<div class="row small-up-1 medium-up-2 large-up-4">
  <% @destination.packages.each do |package| %>
  <div class="column">
    <div class="image-wrapper overlay-fade-in">
      <%= image_tag package.image, class: "thumbnail" %>
      <div class="image-overlay-content">
        <h2><%= link_to package.title, package_path(package) %></h2>
        <%= link_to "Explore", package_path(package), class: "button primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
