<div class="row column cart">
    <table>
      <thead>
        <tr>
          <th width "200">Package Name</th>
          <th>Description</th>
          <th width "200"></th>
          <th width "150">Price</th>
          <th width "100">quantity</th>
          <th width "150">Sub Total</th>
        </tr>
      </thead>
      <tbody class="package">
        <tr>
        <% @packages.each do |package| %>
            <td><%= package.title %></td>
            <td><%= package.description %></td>
            <td><%= image_tag package.image, class: "cart-image" %></td>
            <td><%= package.price %></td>
            <td><%= @trip.sub_quantity(package.id) %>
              <%= button_to "+ ", trip_package_path(package, package.id, operation: "+"), method: 'patch' %>
              <%= button_to " - ", trip_package_path(package, package.id, operation: "-"), method: 'patch' %>
            </td>
            <td><%= package.price * @trip.sub_quantity(package.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-right">Total Price: <%= @trip.total_price %></div>
    <div class=""></div>

</div>
