<div class="row column cart">
  <% unless @packages.nil? %>
    <% @packages.each do |package| %>
    <div class="column package">
      <ul class="pricing-table">
        <li class="title"><%= package.title %></li>
        <li class="price">$<%=  package.price * package.quantity(session[:trip], package.id) %>
          <hr>
        </li>

        <li class="bullet-item"><%= package.quantity(session[:trip], package.id) %></li>
        <li class="bullet-item"><%= button_to "+", trip_package_path(package, package.id, operation: "+"), method: 'patch' %></li>
        <li class="bullet-item"><%= button_to "-", trip_package_path(package, package.id, operation: "-"), method: 'patch' %></li>
        <li class="cta-button"><%= button_to "Remove", trip_package_path(package), method: :delete  %></li>
      </ul>
    </div>
    <% end %>
  <% else %>
    <h2> Your Cart is Empty</h1>
  <% end  %>
</div>
