<div class="row column cart">
  <% if @trip.itinerary == {} %>
    <h1 class= "text-center"> Your Cart is Empty </h1>
  <% else %>
    <table>
      <thead>
        <tr>
          <th width "200">Package Name</th>
          <th>Description</th>
          <th width "200"></th>
          <th width "150">Price</th>
          <th width "100">quantity</th>
          <th width "150">Sub Total</th>
          <th width "150"></th>
        </tr>
      </thead>
      <tbody class="package">
        <tr>
        <% @packages.each do |package| %>
            <td><%= package.title %></td>
            <td><%= package.description %></td>
            <td><%= image_tag package.image, class: "cart-image" %></td>
            <td><%= package.price %></td>
              <td><%= @trip.sub_quantity(package.id) %>
                <%= link_to "", trip_package_path(package, package.id, operation: "+"), method: 'patch', class: "fi-arrow-up" %>
                <% unless @trip.sub_quantity(package.id) == 1 %>
                  <%= link_to "", trip_package_path(package, package.id, operation: "-"), method: 'patch', class: "fi-arrow-down" %>
                <% end  %>
              </td>
            <td><%= package.price * @trip.sub_quantity(package.id) %></td>
            <td><%= link_to "", trip_package_path(package), method: :delete, class: "fi-x"  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-right">Total Price: <%= @trip.total_price %></div>
    <div class="text-center">
      <% unless current_user %>
        <%= link_to "Login or Create Account to Purchase", login_path, class: "button primary" %>
      <% else %>
        <%= link_to "Checkout", orders_path, class: "button success", method: :post %>
      <% end %>
    </div>
  <% end %>

</div>
