<div data-sticky-container>
  <div class="title-bar nav" data-sticky data-options="marginTop: .065;" style="width:100%">
    <div class="title-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
        <a><i class="logo fi-torso"></i></a>
          <ul class="menu user-info">
            <% if current_user%>
              <li><%= link_to "#{current_user.username}'s Dashboard", dashboard_path if !current_user.admin? %></li>
              <li><%= link_to "#{current_user.username}'s Dashboard", admin_dashboard_path if current_user.admin? %></li>
              <li><%= link_to "Your Orders", orders_path  %></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", login_path %></li>
            <% end  %>
         </ul>
       </li>
      </ul>
    </div>
    <div class="title-bar-right">
        <ul class="menu">
          <li><a href= "<%= trip_path %>" class="cart-icon">
            <i class="logo fi-shopping-bag"><span class="quantity"><%= @trip.quantity %></span></i>
            </a>
          </li>
        </ul>
    </div>
    <div class="menu-centered">
      <ul class = "menu">
        <a class="logo" href="/"><h3 class="logo">Eccentric<i class="fi-ticket"></i> Travel</h3></a>
        <hr size="1px">
        <% unless @destinations.nil? %>
          <% @destinations.each do |destination| %>
            <li><%= link_to destination.planet, destination_path(destination.planet), class: "button nav-button shadow" %></li>
          <% end %>
          <li><%= link_to "All Packages", packages_path, class: "button nav-button" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
