<div data-sticky-container>
  <div class="title-bar nav" data-sticky data-options="marginTop: .065;" style="width:100%">
    <div class="title-bar-left">
      <% if current_user%>
        <p class="text-left"><%="Logged in as #{current_user.username}"%></p>
        <%= link_to "Logout", logout_path, method: :delete, class: "logo" %>
      <% else %>
        <%= link_to "Login", login_path, class: "logo" %>
      <% end  %>
    </div>
    <div class="title-bar-right">
        <a href= "<%= trip_path %>" class="cart-icon"><i class="logo fi-shopping-bag"></i></a>
    </div>
    <div class="menu-centered">
      <ul class = "menu">
        <h3 class="logo">Eccentric <i class="fi-ticket"></i> Travel</h3>
        <hr size="1px">
        <% unless @destinations.nil? %>
          <% @destinations.each do |destination| %>
            <li><%= link_to destination.planet, destination_path(destination.planet), class: "button nav-button shadow" %></li>
          <% end %>
          <li><%= link_to "All Packages", packages_path, class: "button nav-button" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
