<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Eccentric" %></title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200|Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  <% flash.each do |type, message| %>
  <div class="small-6 columns small-centered">
    <div class="alert-box <%= type %> callout" data-alert data-closable >
      <i class="fi-info"></i>
      <%= message %>
      <button class"close-button" aria-label="Dismiss alert" type="button" data-close >
        <span aria-hidden="true" >&times;</span>
      </button>
    </div>
  </div>
  <% end %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>
</body>
</html>
