<div class="row column">
  <% if @orders.nil? %>
    <h1>class="text-center">No Recent Orders</h1>
  <% else %>
  <h1 class="text-center">Your Orders:</h1>
  <table>
    <thead>
      <tr>
        <th width "150">Order Id</th>
        <th width "200">Status
        <th width "150">Total Price</th>
        <th width "150">Quantity</th>
        <th width "300">Packages</th>
        <th width "200"></th>
      </tr>
    </thead>
    <tbody class= "orders">
      <tr>
        <% @orders.each do |order| %>
          <td><%= order.id %></td>
          <td> <%= order.status %>
          <td><%= order.total_cost%></td>
          <td><%= order.total_quantity%></td>
          <td><%= order.package_names %></td>
          <td><%= link_to "View", order_path(order), class: "button primary" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
