<h1><%= @order.id %> details</h1>
<hr>
<ul>
  <% @order.packages.each do |package| %>
    <li><%= package.title %> <%= link_to "show", package_path(package) %> Cost: <%= package.price %></li><br>
  <% end %>
</ul>
<hr>
<h5>Submitted <%= @order.created_at %></h5>
<h5>Total price for this order: <%= @order.package_total_price %></h5>
<h5><%= @order.status %> @ <%= @order.updated_at %> </h5>
<hr>
