<br>
<div class="row">
<h1 class="text-center">Your Trip Id: <%= @order.id  %></h1>
<table>
  <thead>
    <tr>
      <th width "300"></th>
      <th width "150">Package Title</th>
      <th width "150">Passengers</th>
      <th width "150">Sub-Total</th>
    </tr>
  </thead>
  <tbody class= "orders">
    <tr>
      <% @order.packages.each do |package| %>
        <td><%= image_tag package.image, class: "cart-image" %></td>
        <td><%= link_to package.title, package %></td>
        <td> <%= @order.package_quantity(package.id) %>
        <td><%= @order.subtotal(package)%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="order-details small-4 small-offset-8 columns">
  <ul>
    <h5>Total price for this order: <%= @order.total_cost %></h5>
      <li><%= @order.format_time(@order.created_at) %></li>
      <li><%= @order.format_time(@order.updated_at) %></li>
      <li>This Order Is: <%= @order.status %></li>
  </ul>
</div>
</div>
<br>
