<div class="landing-image" style="background-image: url('<%= @image %>')">
  <div class="centered-button">
    <%= link_to "Explore", packages_path, class: "large button" %>
  </div>
      <a  class="landing-link button" data-open="explanation">More Info About this Image</a>
    <div class="reveal" id="explanation" data-reveal>
    <p class="lead">Nasa's Image of the Day <%= @apod["date"] %></p>
    <h5> <%= @apod["title"] %></h5>
    <p><%= @apod["explanation"]%></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
