<div class="form full-log-in">
<div class="row login-page">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%=form_for @user do |f| %>
      <div class="row column log-in-form">
        <h4 class="text-center pad-header">Please Create an Account</h4>
        <div class="login_form">
          <%= f.text_field :username, placeholder: "Username" %>
          <%= f.text_field :email, placeholder: "Email" %>
          <%= f.password_field :password, placeholder: "Password" %>
          <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
          <%= f.submit "Create Account", class: "button expanded"%>
      </div>
      </div>
      <% end %>
  </div>
</div>
