
<div class="row small-6 offset-3">
  <h4 class="centered-text">Welcome to Your Dashboard, <%= @user.username %></h4>
</div>

<div class="row small-4 offset-4">
  <ul class="accordian" data-accordian>
    <li class="accordian-item" data-accordian-item>
      <a href="#" class="accordian-title">Edit Account</a>
      <div class="accordian-content" data-tab-content>
        <%= form_for @user do |f| %>
        <%= f.text_field :username %>
        <%= f.text_field :email %>
        <%= f.password_field :password, placeholder: "New Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
        <%= f.submit "Update Account", class: "button expanded"%>
        <% end %>
      </div>
    </li>
    <% if current_user.admin? %>
      <li class="accordian-item" data-accordian-item>
        <a href="#" class="accordian-title">Create a New Destination</a>
        <div class="accordian-content" data-tab-content>
          <%= form_for @destination do |f| %>
          <%= f.text_field :planet, placeholder: "Enter a Planet, Nebula, or Region of Space" %>
          <%= f.submit class: "button expanded"%>
          <% end %>
        </div>
      </li>
      <li class="accordian-item" data-accordian-item>
        <a href="#" class="accordian-title">Create a New Package</a>
        <div class="accordian-content" data-tab-content>
          <%= form_for @package do |f| %>
          <%= f.text_field :title, placeholder: "Package Title" %>
          <%= f.text_area :description, placeholder: "Package Description" %>
          <%= f.label :price, "Choose a Price for the New Package" %>
          <%= f.number_field :price, in: 1000..10000, step: "any" %>
          <%= f.label :destination_id, "Choose a Destination for the New Package" %>
          <%= f.collection_select :destination_id, @destinations, :id, :planet, include_blank: true %>
          <%= f.label :image, "Choose an Image" %>
          <%= f.file_field :image %>
          <%= f.submit class: "button expanded"%>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
